body {
	font-family: Arial, Helvetica, sans-serif;
}

h1, footer {
    text-align: center;
}

table {
	margin: 10px auto;
	/* the borders between adjacent cells merge into single border */
	border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
	color: black;
	font-size: 1em;
}


tr:first-child th, th:first-child {
	background-color: red;
	color: white;
}

td {
	border: 1px solid lightgray; 
}

th, td {
	padding: 7px 15px;
	font-weight: bold;
}

th {
	background-color: blue;
    color: white;
	font-size: 2em;
}

td {
	text-align: center;
    font-size: 2em;
}

tr:nth-child(even) {
	background-color: #e9142c26;
}
