@media screen and (min-width: 1200px) {

    body {
        margin: 0;
        padding: 0;
        background-image: "https://nameerfdt.github.io/wdd230/scoots/images/pexels-fidan-jafarova-17617693.jpeg";
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 5em;
    }

    header h2 {
        grid-row: 2/3;
        font-size: 2em;
    }

    .navigation a {
        display: block;
        font-size: 2em;
        margin: 0 auto;
        padding: 0 1em;
    }

}