body {
    margin: 0 auto;
}

.ham-nav {
    display: flex;
    flex-direction: column;
    background-color: #3d6080;
    margin: 0 auto;
    padding: 0;
}

.ham-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: .5em;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    background-color: #F6F1D1;
    color: #3d6080;
}

.logo-img {
    padding: 20px;
}

#hero-box {
    position: relative;
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: mooli;
}
#hero-img {
    width: 100%;
    height: 300px;
}

.title-h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-h2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

main {
    display: block;
    gap: 10px;
    font-family: Arial, sans-serif;
}

#events, #weather, .chamber-member {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

footer {
    display: block;
    background-color: #3d6080;
    color: white;
    text-align: center;
}
