@media screen and (min-width: 600px) {
    /* main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
    
    #events {
        grid-column: 1/3;
    } */
    
    h1 {
        font-size: 2em;
    }

    #medium-label {
        display: block;
        position: absolute;
        top: 5px;
        left: 150px;
        color: black;
        font-size: 3em;
    }
    #small-label, #large-label {
        display: none;
    }

    }
    