@media screen and (min-width: 600px) {
    /* main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
    
    #events {
        grid-column: 1/3;
    } */
    
    }
    