@media screen and (min-width: 600px) {

    #darkmode {
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: 1rem;
        cursor: pointer;   
    }

    .ham-nav {
        justify-content: space-around;
        flex-direction: row;
        padding-right: 10px;
    }
    
    .ham-nav a {
        display: block;
        font-size: 1.5em;
        flex: 1 1 100%;
        padding: .5em;
    }
    
    #hamburgermenu {
        display: none;
    }

    h1 {
        font-size: 1.75em;
    }

    #medium-label {
        display: block;
        position: absolute;
        top: 5px;
        left: 150px;
        color: black;
        font-size: 3em;
    }
    #small-label, #large-label {
        display: none;
    }

    }
    