body {
    background-color: black;
}

main {
    max-width: 400px;
    margin: 0 auto;

}

h1, p {
    text-align: center;
    color: white;
}


img {
    display: block;
    width: 100%;
    height: auto;
    animation: fade 15s;
}
/* this is associated to the image fade animation */
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    color: white;
    text-align: center;
}