  body {
    max-width: 800px;
    font-family: Roboto, Arial, sans-serif;
    margin: auto;
  }
  
  header {
    background: #B0B493;
    padding: 2rem;
    margin: 0 auto;
  }

  #header-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  #hero-img {
    display: block;
    margin-left: auto;
    height: 185px;
    width: 150px;
    image-rendering: auto;
  }

  .hero img {
    width: 100%;
    height: auto;
  }
  
  h1 {
    display: flex;
    text-align: center;
    padding-left: 30px;
    font-family: Handlee, Arial, sans-serif;
    font-size: 50px;
  }

  nav {
    background: #000000;
    text-align: center;
    margin: auto;
    /* margin-bottom: 10px; */
  }

  #hamburgermenu {
    display: block;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: black;
    color: #B0B493;
  }

  #hamburgermenu::before {
    content: "\2630";
    font-size: 24px;
  }

  .hamburgernav li {
    display: none;
  }

  #hamburgernav a {
    display: block;
    padding: 0.75rem;
    /* text-align: left; */
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: 1.5em;
  }

  .show li {
    display: block;
  }

  ul.hamburgernav.show {
    padding-left: 0;
    margin-top: 0;
  }

  #hamburgermenu.show::before {
    content: "❌";
  }

  /* .hamburgernav a:active::before */
  .active::before {
    content:"📍";
  }

  nav li a {
    text-decoration: none;
    color: white;
  }

  #main-grid {
    display: grid;
    /* grid-template-columns: auto;*/
    /* margin-top: -20px; */
  }

  main {
    background: white;
    /* grid-column: 1 / 2; */
  }

 h3 {
    text-align: center;
    margin: 0;
    padding: 15px;
  }

  h2 {
    /* margin-bottom: 0; */
    margin: 15px;
    text-align: center;
  }

  hr.line-break {
    border: 1px solid black;
    margin-top: 0;
    width: 97%;
  }

  .card {
    border: 1px solid black;
    margin: 15px;
    border-radius: 5px;
  }

  h3 {
    background: #B0B493;
  }

  li a {
    text-align: left;
    color: black;
    font-size: 20px;
  }

  .card a:hover {
    color: blue;
  }

  #course-links, li {
    display: block;
    list-style-type: none;
    padding-bottom: 10px;
  }
  
  .googlemaps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin: 15px;
  }

  .googlemaps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  footer {
    background: #B0B493;
    padding: 5px;
    text-align: center;
    grid-column: 1 / 3;
  }
