@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

  #content {
    max-width: 1600px;
    /*margin: 0 auto;*/
  }

  header {
    background: #057DC1;
    padding: 2rem;
  }

  #header-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  #hero-img {
    display: block;
    margin-left: auto;
    height: 200px;
    image-rendering: auto;
  }

  body {
    font-family: Roboto, Arial, sans-serif;
    margin: auto;
  }
  
  h1 {
    display: flex;
    text-align: center;
    padding-left: 30px;
    font-family: Handlee, Arial, sans-serif;
    font-size: 60px;
  }

  nav {
    display: block;
    background: #000000;
    text-align: center;
    margin-top: -20px;
  }

  #nav-list a {
    /*margin-top: 20px;*/
    padding: 10px;
    text-decoration: none;
    color: white;
  }

  #main-grid {
    display: grid;
    grid-template-columns: auto;
    margin-top: -20px;
  }

  main {
    background: white;
    grid-column: 1 / 2;
  }

  h2, h3 {
    text-align: center;
    margin: 0;
    padding: 15px;
  }
  h2 {
    margin-bottom: 0;
  }

  hr.line-break {
    border: 1px solid black;
    margin-top: 0;
    width: 97%;
  }

  .card {
    border: 1px solid black;
    margin: 15px;
    border-radius: 5px;
  }

  h3 {
    background: #057DC1;
  }

  li a {
    text-align: left;
    color: black;
    font-size: 20px;
  }

  .card a:hover {
    color: blue;
  }

  #course-links, li {
    display: block;
    list-style-type: none;
    padding-bottom: 10px;
  }
   
  footer {
    background: #057DC1;
    padding: 5px;
    text-align: center;
    grid-column: 1 / 3;
  }

  /*this is @media query. Don't add anything after*/

  @media screen and (max-width: 900px) {
    #header-grid, #main-grid {
      display: block;
      height: auto;
    }
    #hero-img {
      margin: auto;
    }

    h1 {
      display: block;
      font-size: 40px;
    }
  }