  :root {
    --main-color: #B0B493;
    --secondary-color: black;
    --text-align: center;
  }
  
  body {
    max-width: 800px;
    font-family: Roboto, Arial, sans-serif;
    margin: auto;
  }
  
  header {
    background: var(--main-color);
    padding: 2em;
  }

  #header-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

 .profile img, .hero img  {
    width: 100%;
    height: auto;
  }

.hero {
  position: relative;
  margin: 0 auto;
}
  
.hero-label {
  position: absolute;
  top: 20px;
  right: 10px;
  background:radial-gradient(#fff, #90b5dd4d
  );
  border: 1px solid var(--secondary-color);
}

.hero-label p {
  font-size: 1em;
  padding: 5px;
  margin: 0;
}

  h1 {
    display: flex;
    text-align: var(--text-align);
    padding-left: 10px;
    font-family: Handlee, Arial, sans-serif;
    margin: 0 auto;
  }

  nav {
    background: var(--secondary-color);
    text-align: var(--text-align);
    margin: auto;
  }

  #hamburgermenu {
    display: block;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: var(--secondary-color);
    color: var(--main-color);
  }

  #hamburgermenu::before {
    content: "\2630";
    font-size: 24px;
  }

  .hamburgernav li {
    display: none;
  }

  #hamburgernav a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: 1.5em;
  }

  .show li {
    display: block;
  }

  ul {
    margin: 0;
  }

  ul.hamburgernav.show {
    padding-left: 0;
    margin-top: 0;
  }

  #hamburgermenu.show::before {
    content: "❌";
  }

  .active::before {
    content:"📍";
  }

  nav li a {
    text-decoration: none;
    color: white;
  }

  main {
    background: white;
  }

 h3 {
    text-align: var(--text-align);
    margin: 0;
    padding: 15px;
  }

  h2 {
    margin: 15px;
    text-align: var(--text-align);
  }

  hr.line-break {
    border: 1px solid var(--secondary-color);
    margin-top: 0;
    width: 97%;
  }

  .card {
    border: 1px solid var(--secondary-color);
    margin: 15px;
    border-radius: 5px;
  }

  h3 {
    background: var(--main-color);
  }

  li a {
    text-align: left;
    color: var(--secondary-color);
    font-size: 20px;
  }

  .card a:hover {
    color: blue;
  }

  #course-links, li {
    display: block;
    list-style-type: none;
    padding-bottom: 10px;
  }
  h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
    
  .info, .pagevisits {
    text-align: var(--text-align);
    font-size: 1em;
  }

  #weather {
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }

  /* #weather img {
    margin-right: 10px;
  } */

  .googlemaps {
    position: relative;
    width: auto;
    height: 450px;
    overflow: hidden;
    margin: 15px;
  }

  .googlemaps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border: 0;
  }

  footer {
    background: var(--main-color);
    padding: 5px;
    text-align: var(--text-align);
    grid-column: 1 / 3;
  }
