:root {
    --color-black: black;
    --block-display: block;
    --radius: 5px;
}

form  {
    display: var(--block-display);
    padding: 1em;
    /* margin: 2em 0;  */
    border: 1px solid var(--color-black);
    /* background-color: #B0B493; */
}

#form-header{
    background-color: white;
    text-align: left;
    font-weight: bold;
}
h4 {
    padding-left: 1em;
    margin: 0;
}
/* form label {
    display: block;
    padding-top: 3em;
    font-size: 2em;
} */

form label, input {
    display: var(--block-display);
    font-size: 1em;
    padding: .75rem;
    border-radius: var(--radius);
    width: 75%;
    border-color: var(--color-black);
}

form input.submitBtn {  
    border: none;
    background-color: linen;
    border-radius: var(--radius);
    margin: .75rem;
    width: 75%;
}

form label input:required {
    border-left: 6px solid red;
}

form div#rangevalue {
    padding-left: .75rem;
}

input#range {
    margin-left: .75rem;
    padding: 0;
}

#pwdmessage {
    font-size: 1em;
	padding: 0.5em;
	color: red;
}

input:invalid {
    color: red;
}

input:valid {
    color: Black;
}