form  {
    display: block;
    padding: 1em;
    margin: 2em 0; 
    border: 1px solid black;
}

h4 {
    background-color: white;
    text-align: left;
}

form label {
    display: block;
    padding-top: 3em;
    font-size: 2em;
}

form label, input {
    display: block;
    font-size: 1rem;
    padding: .75rem;
    border-radius: 5px;
    width: 75%;
}

form input.submitBtn {  
    border: none;
    background-color: linen;
    border-radius: 5px;
    margin: .75rem;
    width: 75%;
}

form label input:required {
    border-left: 6px solid red;
}

form div#rangevalue {
    padding-left: .75rem;
}

input#range {
    margin-left: .75rem;
    padding: 0;
}