@media screen and (min-width: 900px) {
    header, footer {
      background-color: black;
      color: #B0B493;
    }
    nav {
      background: #B0B493;
      padding: 10px;
      }
    
    .hero-label {
      right: 25px;
    }

    .hero-label p {
      font-size: 1.5em;
      padding: 10px;
      margin: 0;
    }

    nav ul {
      display: flex;
      justify-content: space-around;
    }
      
    nav li a {
      color: black;
      }

    .hamburgernav {
      display: flex;
      background-color: #B0B493;
      justify-content: space-around;
      margin: 0 auto;
      padding:0;
    }
      
    .hamburgernav li {
      display: block
    }
      
    .hamburgernav a {
      text-align: center;
    }
      
    #hamburgermenu {
      display: none;
    }

    #main-grid {
      grid-template-columns: 1fr 1fr;
      }

    h1 {
      padding-left: 50px;
    }
      
    h2, hr.line-break {
      grid-column: 1/3;
      }

}